<mat-menu #appMenu="matMenu">
    <button mat-menu-item>Setting</button>
    <button mat-menu-item>Help</button>
  </mat-menu>
<mat-toolbar class="my-toolbar">
  <mat-toolbar-row>
    <span>FirstRow</span>
    <span class="fill-remaining-space"></span>
    <span>
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </span>
    <span>
        <a mat-icon-button routerLink="/login" routerLinkActive="active"><fa-icon icon="sign-in-alt"></fa-icon></a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<section class="container" >
  <div class="main_content">
    <router-outlet></router-outlet>
  </div>
</section>


